<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset=utf-8 />
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title>Geocoding Playground | Mapbox</title>

        <!-- Styling -->
        <link rel='stylesheet' href='./src/main.scss' />
        <link href='https://api.mapbox.com/mapbox-assembly/v0.21.2/assembly.min.css' rel='stylesheet'>
        <script async defer src='https://api.mapbox.com/mapbox-assembly/v0.21.2/assembly.js'></script>
        <link rel='stylesheet' href='https://unpkg.com/vue-multiselect@2.0.3/dist/vue-multiselect.min.css'>
        <link href='https://unpkg.com/vue-json-tree@0.3.3/dist/json-tree.css' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

        <!-- Vue JS -->
        <script src='https://unpkg.com/vue@2.5.9/dist/vue.js'></script>
        <script src='https://unpkg.com/vue-multiselect@2.0.3/dist/vue-multiselect.min.js'></script>
        <script src='https://unpkg.com/vue-json-tree@0.3.3/dist/json-tree.js'></script>
        <script src='https://unpkg.com/vue-clipboard2@0.0.8/dist/vue-clipboard.min.js'></script>
        <script src="https://unpkg.com/v-tooltip"></script>

        <!-- Map -->
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
        <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
        <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css'/>
        <script async src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>

        <script src='./src/main.js'></script>
    </head>
    <body>
        <div id='app' class='relative'>
            <div class='grid grid--gut12 py12 px12 bg-default'>
                <div class='col col--8 col--4-mm relative'>
                    <template v-if='!cnf.onDebug'>
                        <div class='absolute flex-parent flex-parent--center-cross flex-parent--center-main w36 h36'><svg class='icon'><use href='#icon-search'></use></svg></div>
                        <input v-model='query' @focus='searchFocus' class='input bg-white px36' placeholder='Search'>
                        <div @click='searchClear' class='cursor-pointer absolute top right flex-parent flex-parent--center-cross flex-parent--center-main w36 h36'><svg class='icon'><use href='#icon-close'></use></svg></div>
                    </template>
                </div>

                <div class='col col--4 col--8-mm'>
                    <!-- <button @click="invert" v-tooltip="'Flip Coordinates'" v-if='reverse' class='fl btn h36 round bg-default transition bg-default-dark-on-hover color-blue-on-hover'><svg class='icon'><use href='#icon-rotate'></use></svg></button> -->
                    <button @click="panelManage('settings')" v-tooltip="'Toggle Settings Panel'" class='fr btn h36 round bg-default transition bg-default-dark-on-hover color-blue-on-hover'><svg class='icon'><use href='#icon-sprocket'/></svg></button>
                    <button @click="bugReport" v-tooltip="'Found a bug?'" class='fr btn h36 round bg-default transition bg-default-dark-on-hover color-blue-on-hover'><svg class='icon'><use href='#icon-bug'></use></svg></button>
                    <button @click="shareClick" v-tooltip="'Open API URL'" class='fr btn h36 round bg-default transition bg-default-dark-on-hover color-blue-on-hover'><svg class='icon'><use href='#icon-share'/></svg></button>
                    <button @click="panelManage('json')" v-tooltip="'Toggle JSON Panel'" class='fr btn h36 round bg-default transition bg-default-dark-on-hover color-blue-on-hover'><svg class='icon'><use href='#icon-code'/></svg></button>
                </div>
            </div>
            <!-- Settings -->
            <div v-if='settingsPanel' class='left-pane w-full w600-mm bg-white'>
                <div class='grid px24 py24'>
                    <div class='col col--12'>
                        <h2 class='txt-h3 fl'>Settings</h2>
                        <button v-tooltip='"Toggle Raw URL View"' @click="urlview = !urlview" class='btn round fr'><svg class='icon'><use href='#icon-eye'></use></svg></button>
                    </div>

                    <template v-if='urlview'>
                        <div class='col col--12 py6 border-b border--gray-light'>
                            <h3 class='txt-h4 fl py3'>Raw API Request</h3>
                            <textarea v-if='urlview' v-model="url" readonly placeholder='API URL' class='textarea w-full h180'></textarea>
                        </div>
                    </template>


                    <div class='col col--12'>

                        <!--Proximity Filter-->
                        <div class='col col--12'>
                            <div class="col col--12 py12">
                                <label class='switch-container fl pr12'>
                                    <input v-model="cnf.onProximity" type='checkbox' checked/>
                                    <div class='switch'></div>
                                </label>
                                <h3 class='txt-h4'>Proximity Bias <svg @click="help()" class='fr ml12 icon cursor-pointer color-gray-light color-gray-dark-on-hover'><use href='#icon-info'/></svg></h3>
                            </div>

                            <div class="col col--12 px48 relative">
                                <div @click="proximityManualClick" class='cursor-pointer absolute flex-parent flex-parent--center-cross flex-parent--center-main w36 h36'><span v-tooltip="'manually select Proximity from map'"><svg class='icon'><use href='#icon-crosshair'></use></svg></span></div>
                                <input id="proximityInput" v-model="cnf.proximity" class="input px36" id='bboxInput' type='text' placeholder='Longitude,Latitude'/>
                                <div @click="proximityClick" class='cursor-pointer absolute top right flex-parent flex-parent--center-cross flex-parent--center-main w36 h36'><span v-tooltip="'picks current location as Proximity'"><svg class='icon'><use href='#icon-compass'></use></svg></span></div>
                            </div>
                        </div>

                        <!-- Types Filter -->
                        <div class='col col--12'>

                            <div class="col col--12 px48">
                               <div class="toggle-group mr48 py12">
                                    <label class="toggle-container">
                                        <input checked name='toggle-1' @click="typeClick" type='radio' value="address" />
                                        <div class="toggle">Address</div>
                                    </label>
                                    <label class="toggle-container">
                                        <input name='toggle-1' @click="typeClick" type='radio' value="poi"/>
                                        <div class="toggle">POI</div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!--Limit-->
                        <!-- <div class='col col--12'>
                            <div class="col col--12 py12">
                                <label class='switch-container fl pr12'>
                                    <input v-model="cnf.onLimit" type='checkbox' checked/>
                                    <div class='switch'></div>
                                </label>
                                <h3 class='txt-h4'>Limit <svg @click="help()" class='fr ml12 icon cursor-pointer color-gray-light color-gray-dark-on-hover'><use href='#icon-info'/></svg></h3>
                            </div>

                            <div class="col col--12 px48">
                                <input v-model="cnf.limit" class="input" type='number' min='1' max='10' placeholder='Up to 5 for reverse, up to 10 for forward' class='stretch' />
                            </div>
                        </div> -->

                        <!--Language Filter-->
                        <!-- <div class='col col--12'>
                            <div class="col col--12 py12">
                                <label class='switch-container fl pr12'>
                                    <input v-model="cnf.onLanguage" type='checkbox' checked/>
                                    <div class='switch'></div>
                                </label>
                                <h3 class='txt-h4'>Language Filter <svg @click="help()" class='fr ml12 icon cursor-pointer color-gray-light color-gray-dark-on-hover'><use href='#icon-info'/></svg></h3>
                            </div>

                            <div class="col col--12 px48">
                                <multiselect v-model="cnf.languages" :options="languages" placeholder="Filter" :taggable="true" :multiple="true"  track-by="code" label="name"></multiselect>
                            </div>
                        </div> -->


                    </div>
                </div>
            </div>

            <!-- JSON Response -->
            <div v-if="jsonPanel" class='left-pane w-full w600-mm bg-white px24 py24'>
                <button v-clipboard:copy="cnf.onDebug ? JSON.stringify(vtQueryResults, null, 4) : JSON.stringify(geocoderResults, null, 4)" class='fr btn h36 round bg-default transition bg-default-dark-on-hover'><svg class='icon'><use href='#icon-clipboard'/></svg></button>
                <pre><json-tree :raw="cnf.onDebug ? JSON.stringify(vtQueryResults, null, 4) : JSON.stringify(geocoderResults, null, 4)"></json-tree></pre>
            </div>

            <div id='map'></div>

            <!-- Search Results -->
            <div class='resultContainer clearfix'>
                <div class='results col5'>
                    <div class='resultsList'>
                        <div v-for="(res, res_it) res in (cnf.type === 'address' ? suggestResults : geocoderResults.features)" class="res clearfix" :result="res_it" @mouseenter="resultEnter" @mouseleave="resultLeave" @click="resultClick">
                            <!-- <template v-if="res.id.toString().split('.')[0] == 'address'">
                                <template v-if="res.id.split('.')[0] === '0'">
                                    <div class="resIcon" :result="res_it">
                                        <svg class='icon'><use href='#icon-line-center'/></svg>
                                    </div>
                                </template>
                                <template v-if="res.properties.accuracy === 'interpolated'">
                                    <div class="resIcon" :result="res_it">
                                        <svg class='icon'><use href='#icon-point-line'/></svg>
                                    </div>
                                </template>
                                <template v-else-if="res.properties.accuracy === 'street'">
                                    <div class="resIcon" :result="res_it">
                                        <svg class='icon'><use href='#icon-line'/></svg>
                                    </div>
                                </template>
                                <template v-else-if="res.properties.accuracy === 'intersection'">
                                    <div class="resIcon" :result="res_it">
                                        <svg class='icon'><use href='#icon-plus'/></svg>
                                    </div>
                                </template>
                                <template v-else-if="res.properties.accuracy">
                                    <div class="resIcon" :result="res_it">
                                        <svg class='icon'><use href='#icon-home'/></svg>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="resIcon" :result="res_it">
                                        <svg class='icon'><use href='#icon-marker'/></svg>
                                    </div>
                                </template>
                            </template>
                            <template v-else-if="!res.properties.maki">
                                <div class="resIcon" :result="res_it">
                                    <svg class='icon'><use href='#icon-marker'/></svg>
                                </div>
                            </template>
                            <template v-else>
                                <div class="resIcon maki" :result="res_it" :class="[ res.properties.maki ]"></div>
                            </template> -->

                            <div class="resultText" :result="res_it" v-text="cnf.type === 'address' ? res.matching_name : res.properties.place_name"></div>
                            <div class="resultSubText" :result="res_it" v-text="cnf.type === 'address' ? res.description : null"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mode pop up -->
                <div v-if='getlocation' class="grid grid-gut12 absolute bottom z1 w-full">
                    <div class='col round col--3 relative px12 py12 bg-blue align-center color-white mx60 my30'>
                        <h4 class='txt-h4 fl'>Click on the map to set proximity</h4>
                    </div>
                </div>
                <div v-if='buildingBBox' class="grid round grid-gut12 absolute bottom z1 w-full">
                    <div class='col round col--3 relative px12 py12 bg-blue align-center color-white mx60 my30'>
                        <h4 class='txt-h4 fl align-l'><b>1.</b> Click to add first corner (release) <br><b>2.</b> Move cursor to the next corner <br><b>3.</b> Click again to complete the Bbox</h4>
                    </div>
                </div>

            <div id='style-sat' class='style' @click="setStyle('mapbox://styles/mapbox/satellite-v9')"></div>
            <div id='style-def' class='style' @click="setStyle('mapbox://styles/mapbox/streets-v8')"></div>
            <div id='style-drk' class='style' @click="setStyle('mapbox://styles/mapbox/dark-v9')"></div>
        </div>
    </body>
</html>
