/* Global Styling */
#app,
body,
html {
  height: 100%;
}

.bg-default {
  background-color: #4264fb !important;
}

.bg-default-dark-on-hover:hover {
  background-color: #ffffff !important;
}
/* tooltip */
.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: #000000b1;
  color: white;
  border-radius: 20px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #000000b1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
/* Main Map Styling */
#map {
  width: 100%;
}
.flex-map {
  display: flex;
  height: 100%;
  width: 100%;
}

.flex-buttons {
  flex-basis: auto;
}

.btn-label {
  padding-left: 20px;
}

.left-pane-json {
  width: 600px;
}
/* Lower Left Map Style Changer */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.style {
  flex-direction: row;
  background-color: black;
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.style#style-sat {
  background-image: url("./img/satellite.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.style#style-str {
  background-image: url("./img/street.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.style#style-drk {
  background-image: url("./img/dark.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.style#style-lgt {
  background-image: url("./img/light.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* Results Dropdown */
.resultContainer {
  position: absolute;
  width: 500px;
  left: 0;
  top: 60px;
  max-height: 50vh;
  overflow: auto;

  .results {
    width: 100%;
  }

  .res {
    box-shadow: 0 0.5px #ddd;
    padding-top: 10px;
    padding-bottom: 10px;

    a {
      float: right;
      text-align: center;
      width: 100%;
      margin: auto;
    }
  }

  .resIcon {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
  }

  .resultText {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    float: right;
    font-weight: bold;
  }

  .resultSubText {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    float: right;
  }

  .resultsList {
    margin: 0;
    background-color: white;
    font-size: 14px;
  }

  .resultsList div:hover {
    cursor: pointer;
    background-color: #F2FAFC;
  }
}

.marker {
  width: 50px;
  height: 50px;
  background-size: 50px;
}
/* Maki Icon Styling */
.maki {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 16px 16px;
}

.maki.bar {
  background-image: url("./img/maki/bar-15.svg");
  background-origin: content-box;
}

.maki.cafe {
  background-image: url("./img/maki/cafe-15.svg");
  background-origin: content-box;
}

.maki.fuel {
  background-image: url("./img/maki/fuel-15.svg");
  background-origin: content-box;
}

.maki.lodging {
  background-image: url("./img/maki/lodging-15.svg");
  background-origin: content-box;
}

.maki.restaurant {
  background-image: url("./img/maki/restaurant-15.svg");
  background-origin: content-box;
}
